body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
    margin-left: 40px;
}

a{
  text-decoration: none;
}

.footer-graveeyard-links ul li{
  display: inline;
  margin-right: 20px;
  line-height: 3;
}


.flinks a{
  color:grey;
  font-weight: 500;
  line-height: 2;
}

.flinks a:hover{
  color:#387ed1;
}

.flinks{
  color:#387ed1;
}

.flinks:hover{
  color: #000;
}

.flinks p{
  font-weight: 600;
  font-size: 1.2rem;
}

.LogoImg{
  width: 200px;
  height: 65px;
}